<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <!-- Mars News -->
    <div class="row">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>{{ mars_dict.mars_news_title[0] }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{{ mars_dict.mars_news_P[0] }}</p>
      </div>
    </div>
    <!-- Featured Image -->
    <div class="row">
      <div class="col-md-6">
        <h1>Featured Mars Image</h1>
      </div>
      <div class="col-md-6">
        <h1>Mars Facts</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{{mars_dict.featured_image[0]}}" alt="featured mars image" style="width: 80%">
      </div>
      <div class="col-md-6">
        <tabel>{{ mars_dict.Mars_facts | safe }}</table>
      </div>
    </div>
    <!-- Weather Tweets -->
    <div class="row">
      <div class="col-md-12">
        <h1>Latest Mars Weather</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>{{ mars_dict.mars_weather_tweet[0] }}</h4>
      </div>
    </div>
   

    <!-- Mars Hemi Images, grid of 4 -->
    <div class="row">
      <div class="=col-md-12">
        <h1>Photos of Mars 4 Hemispheres</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3> {{mars_dict.hemisphere_images[0].title}} </h3>
      </div>
      <div class="col-md-6">
        <h3> {{mars_dict.hemisphere_images[1].title}} </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{{ mars_dict.hemisphere_images[0].img_url }}"  class="float-left" alt="Responsive image" style="width: 80%">
      </div>
      <div class="col-md-6">
        <img src="{{ mars_dict.hemisphere_images[1].img_url }}"  class="float-right" alt="Responsive image" style="width: 80%">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3> {{mars_dict.hemisphere_images[2].title}} </h3>
      </div>
      <div class="col-md-6">
        <h3> {{mars_dict.hemisphere_images[3].title}} </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="{{ mars_dict.hemisphere_images[2].img_url }}"  class="float-left" alt="Responsive image" style="width: 80%">
      </div>
      <div class="col-md-6">
        <img src="{{ mars_dict.hemisphere_images[3].img_url }}"  class="float-right" alt="Responsive image" style="width: 80%">
      </div>
    </div>

  </div>
</body>

</html>

